process {
    withName: 'FASTA_DUMPFASTANUC' {
        config_profile_name        = 'Test fasta dump nucleotide profile'
        config_profile_description = 'Minimal test dataset to check module function'

        // Limit resources so that this can run on GitHub Actions
        max_cpus   = 1
        max_memory = '50.MB'
        max_time   =  '1.h'

        ext.args = params.module_args
    }
}